# Build directory
build/

# macOS system files
.DS_Store

# Object files
*.o

# Dynamic libraries
*.dylib

# Package installers
*.pkg

# Xcode
*.xcodeproj/
*.xcworkspace/
xcuserdata/

# Version tracking
!releases

# Ccls cache
.ccls-cache/